rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    match /usuarios/{usuarioId} {
      allow read: if signedIn();
      allow write: if signedIn();
    }

    match /clientes/{clienteId} {
      allow read, write: if signedIn();
    }

    match /paquetes/{paqueteId} {
      allow read: if signedIn();
      allow write: if signedIn();
    }

    match /eventos/{eventoId} {
      allow read, write: if signedIn();
    }

    match /pagos/{pagoId} {
      allow read, write: if signedIn();
    }
  }
}
